extends ../layout
block content

    h1 #{title}
    form(method='POST',action='/chambres/edit/'+chambre._id)
      #form-group
        label Nombre chambre:
        input.form-control(name='nbChambre',type='text', value=chambre.nbChambre)
      #form-group
        label Addresse:
        input.form-control(name='address',type='text', value=chambre.address)
      #form-group
        label Metre:
        input.form-control(name='metre', value=chambre.metre)
      #form-group
        label Author:
        input.form-control(name='author',type='text', value=chambre.author)
      br
      input.btn.btn-primary(type='submit',value='Edit')
          
